<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <link rel="stylesheet" href="/webjars/bulma/1.0.3/css/bulma.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="columns is-centered pt-6">
        <div class="column is-half box pt-2">
          <h1 class="title">Greet Someone!</h1>
          <form class="block" action="#" th:action="@{/}" method="get">
            <div class="field has-addons">
              <div class="control">
                <input
                  class="input is-large"
                  name="greetee"
                  type="text"
                  placeholder="World"
                />
              </div>

              <div class="control is-large">
                <button class="button is-primary is-large" type="submit">
                  Greet
                </button>
              </div>
            </div>
          </form>
          <div class="block notification is-primary" th:if="${greeting}">
            <span th:text="${greeting}" class="is-size-4">Hello, World!</span>
          </div>
          <div class="block notification is-danger" th:if="${error}">
            <span th:text="${error}" class="is-size-4"> Error!</span>
          </div>
        </div>
      </div>
      <div class="columns is-centered"></div>
    </div>
  </body>
</html>
